@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  font-family: 'Montserrat', sans-serif;
}

.bg-img {
  background-image: url("./assets/img/header-bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: scroll;
  height: 81.06637649619151vh;
}


/* ---------- Navbar ---------- */
@media (min-width: 992px) {
  .navbar {
    background-color: transparent !important;
  }
}

@media (max-width: 992px) {
  .navbar-brand {
    font-size: 1.5rem !important;
  }
}

nav {
  transition:0.3s ease-in-out;
}

.navbar-brand {
  font-family: 'Dancing Script', cursive;
  color: #ffc800 !important;
  transition: 0.3s ease-in-out;
  font-weight: 700;
}
.navbar-brand:hover {
  transform: translateY(-3px);
}

nav .navbar-nav .nav-item .nav-link{
  font-size: 0.95rem;
  text-transform: uppercase;
  color: white;
  padding: 0.5rem 1rem;
  letter-spacing: 0.0625em;
  transition: 0.5s ;
}
nav .navbar-nav .nav-item .nav-link:hover {
  color: #ffc800;
  transform: translateY(-3px);
}
nav .navbar-nav .nav-item .nav-link:focus {
  color: #ffc800;
}

nav .navbar-toggler {
  display: flex;
  flex-direction: row;
  font-size: 0.75rem;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
  color: rgba(255, 255, 255, 0.55);
  width: 5.188rem;
  height: 2.375rem;
  padding: 0.75rem;
  align-items: center;
}

.navbar-shrink {
  padding-top: .1rem;
  padding-bottom: .1rem;
  background-color: #212529 !important;
}
.navbar-shrink .navbar-brand {
  font-size: 1.5rem !important;
}

/* ---------- Header ---------- */
.header {
  padding-top: 17rem;
}

.header-subheading {
  font-size: 2.25rem;
  line-height: 2.25rem;
  margin-bottom: 2rem;
  font-family: 'Roboto Slab', serif;
  font-style: oblique;
}

.header-heading {
  font-size: 4.5rem;
  font-weight: 700; 
  line-height: 4.5rem;
  margin-bottom: 4rem;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}

.header-btn {
  background-color: #ffc800;
  border-color: #cca000;
  padding: 1.25rem 2.5rem;
  font-size: 1.125rem;
  border-radius: 10px;
  font-weight: 700;
  transition: 0.3s;
  margin-top: 4rem;
}
.header-btn:hover {
  transform: translateY(-3px);
}

/* ---------- Page Section ---------- */
.page-section {
  padding: 6rem 0;
}

.section-heading {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
  font-weight: 700;
}

.section-subheading {
  font-size: 1rem;
  font-weight: 400;
  font-style: italic;
  font-family: 'Roboto Slab', serif;
  color: #6c757d;
}

.page-section .row {
  margin-top: 4rem;
}

.page-section h4 {
  font-weight: 700;
}